*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(45, 45, 45);
  color: rgb(255, 249, 241);
  padding: 2% 3%;
}

main{
  padding: 0 5%;
}

.counter-wrapper{
  padding: 50px;
  display: flex;
  justify-content: center;
}

.counter-box{
  border: 2px solid white;
  background-color: rgb(79, 79, 79);
  height: fit-content;
  padding: 0 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn{
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 25px;
  color: white;
  cursor: pointer;
  transition: all .3s;
}

/* to catch click events */
.btn:active{
  transform: translateY(2px);
  border: 1px solid rgb(244, 252, 1);
}

.minus{
  background-color: brown;
}

.plus{
  background-color: rgb(54, 130, 54);
}


.count-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 10px 0;
}

.count{
  display: inline-block;
  flex: 1;
  font-size: 30px;
}

.password-container{
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.password-container button{
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
}

.password-container input{
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  background-color: black;
  color: white;
  border: 2px solid white;
  outline: none;
}
.password-container input:focus{
  border-color: rgb(59, 173, 255);
}
