*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.card-container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 10px;
}

.card{
    display: inline-block;
    background-color: rgb(223, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.157);
}

.img{
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.157);

}
