/* CSS RESET */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}


.cards{
  padding: 30px 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
}


.card{
  border: 2px solid red;
  background-color: beige;
  border-radius: 10px;
  width: 200px;
  padding: 25px 10px;
}

.img-container{
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.card-image{
  width: 100px;
  height: 100px;
}


.counter{
  height: 30vh; /* 1vh => 1% of screen height */
  width: 100vw; /* 1vw => 1% of screen width */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.buttons-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.counter button{
  width: 20px;
  height: 20px;
  scale: 2;
  background-color: rgb(44, 42, 42);
  border: 1px solid white;
  outline: 1px solid black;
  color: white;
  border-radius: 5px;

  transition: all .2s;
}

.counter button:active{
  scale: 1.8;
  outline-color: rgb(30, 165, 249);
}

.counter button:first-child{
  padding-bottom: 2px ;
}

.counter button:first-child:active{
  outline-color: rgb(251, 30, 30);
}

.counter span{
  font-size: 30px;
}


