@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
}

body {
    /* font WIP */

    background-color: transparent;
    background-image: linear-gradient(45deg,
            #4158d0 0%,
            #c850c0 45%,
            #ffcc70 100%);
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}


.wrapper {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 265px);
    gap: 25px;
}

.add-box,
.note {
    background-color: white;
    padding: 15px 20px 20px;
    border-radius: 5px;
    height: 250px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    color: #c850c0;
}


.icon {
    display: grid;
    place-items: center;
    /* WE COULD ALSO USE */
    /* 
        display: flex;
        justify-content: center;
        align-items: center;
    */
    height: 80px;
    width: 80px;
    border: 2px dashed #c850c0;
    border-radius: 50%;
    font-size: 40px;
}

.add-box p {
    margin-top: 20px;
    font-weight: 500;
}

.note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    color: black;
    align-items: start;
}

.note .details {
    max-height: 165px;
    overflow-y: auto;
}

.note .details .title {
    font-size: 25px;
}

.note .details .description {
    color: #575757;
    font-size: 16px;
    margin-top: 5px;
}

.note .bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.note .bottom .date {
    font-size: 14px;
    color: #6d6d6d;
}

.note .bottom .settings i {
    color: #6d6d6d;
    cursor: pointer;
    font-size: 17px;
}

.note .bottom .settings {
    position: relative;
}

.note .bottom .menu {
    position: absolute;
    bottom: -10px;
    right: -55px;
    z-index: 1;
    padding: 5px 0;
    background-color: white;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    scale: 0;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
}

.note .bottom .settings.show .menu{
    scale: 1;
}

.note .bottom .settings .menu li{
    height: 25px;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;
    padding: 17px 15px;
    cursor: pointer;
}

.note .bottom .settings .menu li:hover{
    background-color: #f5f5f5;
}

/* MODAL/POPUP */

.popup-box,.popup{
    display: none;
}

.popup-box.show,
.popup.show{
    display: block;
}


.popup-box{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}

.popup{
    /* CENTERING THINGS - by using position relative and absolute*/
    position: absolute;

    top: 50%;
    left: 50%;

    /* since css accounts for the top-left pixel, we'll have to push back our element 50% of its width and height to center its center rather than centering its top-left corner */

    transform: translate(-50%, -50%);

    width: 100%;
    max-width: 400px;
}

.popup .content{
    background-color: white;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.popup .content .popup-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    border-bottom: 1px solid #ccc;
}

.popup .content .popup-header h1{
    font-size: 20px;
    font-weight: 400;
}

.popup .content .popup-header i{
    font-size: 25px;
    cursor: pointer;
}

.popup .content form{
    padding: 15px 25px 35px;
}

.row{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.row label{
    font-size: 20px;
    margin-bottom: 6px;
}

.popup .content form :where(input, textarea){
    /* we can use :where pseudo-class to save some time */
    border: 1px solid #999;
    height: 50px;
    width: 100%;
    text-indent: 15px;
    padding: 10px 0;
    border-radius: 5px;
}

.popup .content form :where(input, textarea):focus{
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.popup .content form textarea{
    resize: none;
    height: 150px;
}

.popup .content form button{
    background-color: #c850c0;
    width: 100%;
    height: 50px;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}