*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
}

.cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  background-color: gray;
  display: inline-block;
  padding: 20px;
  margin: 30px;
  border-radius: 20px;
  border: 5px solid rgba(0, 0, 0, 0.056);
}

.card ul{
  padding-left: 20px;
}

.card img{
  border-radius: 10px;
}