* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    background: linear-gradient(rgb(172, 233, 255) 20%, rgb(255, 255, 255) 40%);

    min-height: 100vh;
    margin: 0 5vw;
}

header{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    padding: 20px;
    gap: 10px;
}


.card{
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 200px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 4px 5px rgba(69, 69, 69, 0.276);
}
.card .category{
    text-transform: capitalize;
    font-weight: 400;
    color: gray;
}

.card img{
    border-radius: 10px;
    margin-bottom: 10px;
}

.card img:hover{
    scale: 1.2;
    transition: all ease-in-out .1s;
}

.card .price{
    text-align: end;
    color: green;
    padding: 10px 0;
}

.card .buttons{
    display: flex;
    flex-wrap: wrap;
}

.btn{
    display: flex;
    text-wrap: nowrap;
    flex: 1;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.btn:hover{
    filter: brightness(1.1);
    scale: 1.1;
    transition: all .2s;
    border: 1px solid rgba(0, 0, 0, 0.304);
}

.buttons :first-child{
    background-color: rgb(0, 162, 255);
}

.buttons :last-child{
    background-color: rgb(47, 255, 158);
}

.remove-btn,.update-btn{
    position: absolute;
    right: 0;
    top: 0;
    padding: 3px 5px;
    border-radius: 4px;
    background-color: brown;
    color: white;
    cursor: pointer;
}

.update-btn{
    top: 30px;
    background-color: rgb(97, 194, 255);
}

h1{
    color: black;
}


.create-form{
    display: flex;
    flex-direction: column;
    margin: 20px 20%;
}

.create-form label{
    margin-top: 30px;
    margin-bottom: 10px;
}

.create-form input,.create-form select{
    border: 1px solid rgb(187, 187, 187);
    padding: 5px;
    border-radius: 10px;
}

.create-form button{
    margin-top: 30px;
    margin: 30px 30%;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid gainsboro;
    background-color: cornflowerblue;
    color: white;
}