
/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.239);
    padding: 10px 20px;
    height: 10vh;
}

.header-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header input{
    padding: 10px 15px;
    border-radius: 20px;
    outline: none;
    border: 1px solid gray;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.239);
}

.header-left img{
    width: 50px;
    border-radius: 50%;
}

.header-right nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
}

.header-right nav ul li a{
    color: black;
    text-decoration: none;
}

main{
    padding: 5% 10%;
    min-height: 100vh;
    border-bottom: 2px solid rgba(128, 128, 128, 0.411);
}

.first-main{
    min-height: 90vh;
}

.welcome-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn{
    padding: 10px;
    background-color: black;
    color: white;
    border: 2px solid white;
    outline: 1px solid black;
    border-radius: 20px;
    transition: 0.5s all ease;
    cursor: pointer;
}

.btn:hover{
    background-color: white;
    color: black;
}

.btn-alt{
    background-color: rgb(41, 159, 255);
    outline: 1px solid rgb(41, 159, 255);

}

.btn-alt:hover{
    background-color: white;
    color: rgb(41, 159, 255);
}


.calculation-wrapper{
    display: flex;
    flex-direction: column;
}

.left-right{
    display: flex;
}

.left, .right{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    padding: 10px;
}

.left input, .right input{
    padding: 10px;
    border-radius: 20px;
}

.calculation-wrapper button{
    margin: auto;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid gainsboro;
    outline: 1px solid rgb(193, 193, 193);
    background-color: rgb(41, 159, 255);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.49);
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.calculation-wrapper button:hover{
    background-color: rgb(97, 184, 255);
}




/* ------------------------ */
/* -------  THEMES -------- */


.dark header{
    background-color: black;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 10px rgba(255, 255, 255,0.2);
    z-index: 10;
    position: relative;
}

.dark .header-right nav ul li a{
    color: white;
    
}

.dark main{
    background-color: black;
    color: white;
}